{%extends 'landing/base_landing.html'%}

{%block title%}Welcome!{%endblock%}


{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Landing page</h1>
            <p class="mt-3 lead">Generic subtext about the website</p>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'login'%}" class="btn btn-light mr-2">Login</a>
                <a href="{% url 'register'%}" class="btn btn-dark">Register</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}