{%extends 'main/base_main.html'%}
{%load crispy_forms_tags%}

{%block title%}Home{%endblock%}


{%block content%}

<div class="container mt-5">
    <br></br>


    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
           
            <a class="text-decoration-none lead" href="{% url 'post_creation' %}">Make a post</a>
            <br></br>

            {%if posts.all.count == 0%}
                <small>Search for people you know to see their posts.</small>
            {%endif%}

            {%for post in posts%}
                                
                <div class="card my-4">

                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <strong>
                                <a class="text-decoration-none" style="color:black" href="{% url 'profile_view' post.author.profile.pk %}"><img class="rounded-circle p-2" width="40" height="40" src=" {{post.author.profile.image.url}} ">{{post.author.profile.name}}</a>
                            </strong>
                            <small>{{post.created_on}}</small>
                            {%if request.user == post.author %}
                            <div class="d-flex">
                                
                                    <form method="GET" action="{% url 'post_edit' post.pk %}">
                                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                        <i class="fas fa-edit"></i></button>
                                    </form>

                                    <form method="POST" action= "{% url 'post_delete' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'home' %}">
                                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                        <i class="fas fa-trash-alt"></i></button>
                                    </form>
                                
                            </div>
                            {%endif%}
                        </div>
                    </div>

                    <div class="card-body position-relative">
                        <p class="card-text">{{post.body}}</p>
                        <a href="{%url 'post_detail' post.pk%}" class="stretched-link"></a>
                    </div>

                    <div class="d-flex card-footer justify-content-between">
                        <div class="d-flex">
                        <form method="POST" action="{% url 'post_like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <span>{{post.likes.all.count}}&nbsp</span><i class="far fa-thumbs-up"></i></button>
                        </form>

                        <form method="POST" action="{% url 'post_like' post.pk %}">
                            {% csrf_token %}
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            {%if request.user in post.likes.all%}
                                <span>Unlike</span>
                                {%else%}
                                <span>Like</span>
                            {%endif%}
                        </button>
                        </div>

                        {%if post.comments.all.count == 1%}
                        <a class="text-decoration-none" style="color:black" href="{% url 'post_detail' post.pk %}"><small>{{post.comments.all.count}} comment</small></a>
                        {%else%}
                        <a class="text-decoration-none" style="color:black" href="{% url 'post_detail' post.pk %}"><small>{{post.comments.all.count}} comments</small></a>
                        {%endif%}

                        <!-- --> <small>Share</small>

                        
                    </div>


                </div>
            {%endfor%}


        </div>
    </div>



    

</div>

{%endblock%}